<!-- navbar.html -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'pagina_inicio' %}">Disponibilidad</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ingresar_vehiculo' %}">Ingresar Vehículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar_vehiculos' %}">Vehiculos en casa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'buscar_eliminar_vehiculo' %}">Salida de vehiculo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar_parqueaderos' %}">Parqueaderos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar cesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
