<!DOCTYPE html>
<html>
<head>
    <title>Ver Disponibilidad</title>
</head>
<body>
    <h1>Ver Disponibilidad de Cupos</h1>
    <form method="post">
        {% csrf_token %}
        <label for="parqueadero_id">Seleccionar Parqueadero:</label>
        <select name="parqueadero_id">
            {% for parqueadero in parqueaderos %}
            <option value="{{ parqueadero.id }}">{{ parqueadero.nombre }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Ver Disponibilidad">
    </form>
    {% if messages %}
    <div>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
</body>
</html>
